<h2> <%= @club.name %> </h2>
<p> <%= @club.about %> </p>

<h3>Manager: <%= @club.user.name %></h3>
<p>Contact no: <%= @club.user.phone %></p>
<p>Email: <%= @club.user.email %></p>

<h3>Weekly Sessions</h3>
<%# Weekly sessions available %>

<%# Usual location of sessions %>