<div class="simple-calendar calendar-card">
  <div class="mt-2 mb-4">
    <% date_range.slice(0, 7).each do |day| %>
      <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view %>
      <h4 class="d-inline"><%= day.strftime("%A %d/%m/%y") %></h4>
      <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view %>
    <% end %>
  </div>

  <% date_range.each_slice(7) do |week| %>
    <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
      <% week.each do |day| %>
        <%= content_tag :td, class: calendar.td_classes_for(day) do %>
          <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
            <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
          <% else %>
            <% passed_block.call day, sorted_events.fetch(day, []) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
