<%# Add mapbox %>

<h2>Locations</h2>
<form>
  <input type="text" placeholder="Enter Postcode"></input>
</form>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>All Locations</h2>
<div class="locations-container">
  <% @locations.each do |location| %>
    <div class="locations-card">
      <h4><%= location.name %></h4>
      <p><%= location.address %></p>
      <p><%= location.features %></p>
      <p> links, google rating, etc</p>
    </div>
  <% end %>
</div>